# ── Database ──────────────────────────────────────────────
DATABASE_URL="postgresql://makromedia:makromedia@localhost:5433/makromedia_db?schema=public"

# ── App ───────────────────────────────────────────────────
NODE_ENV=development
PORT=4000

# ── Auth (JWT) ────────────────────────────────────────────
JWT_SECRET="ganti-dengan-secret-yang-kuat-dan-acak"
JWT_EXPIRES_IN=1d

# ── CORS ──────────────────────────────────────────────────
FRONTEND_URL=http://localhost:3000
